@{
    ViewBag.Title = "The Store";
}

<div class="jumbotron">
    <h1>The Store</h1>
    <p class="lead">Great bikes all year round. </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bikes</h2>
        <p>World famous brands and makes. Road or track bikes.</p>
        <p><a class="btn btn-default" href="#">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Clothes</h2>
        <p>Stylish Wear and Padding.</p>
        <p><a class="btn btn-default" href="#">View &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Other Gear</h2>
        <p>Accsesories</p>
        <p><a class="btn btn-default" href="#">Learn &raquo;</a></p> <!-->>-->
    </div>
</div>